html {
  background: linear-gradient( -90deg, rgb(156, 154, 154) 10%, rgb(75, 71, 71) 90% );
}
::-webkit-scrollbar {
  width: 0px;
}
.fade {
  opacity: 0;
  transition: all 0.6s !important;
  transform: translateY(200px);
}

.fade.in {
  opacity: 1;
  transform: none;
}
